<?xml version="1.0" encoding="UTF-8"?>
<Configuration name="ulaval-fichier" monitorInterval="60" status="info" shutdownHook="disable">
    <Properties>
        <Property name="logDir">c:\filebeat-rotate-test\logs</Property> 
    </Properties>
    <Appenders>
        <RollingRandomAccessFile name="FICHIER"
            fileName="${logDir}/application.log"
            filePattern="${logDir}/$${date:yyyy-MM}/%d{yyyy-MM-dd}-application-%i.log"
            append="true">
            <PatternLayout>
                <!--Pattern>%d{yyyy-MM-dd HH:mm:ss}\t%m%n</Pattern-->
                <Pattern>%m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="1 MB"/>
            </Policies>
        </RollingRandomAccessFile>
    </Appenders>
    <Loggers>
        <AsyncRoot level="info" includeLocation="false">
            <AppenderRef ref="FICHIER" />
        </AsyncRoot>
    </Loggers>
</Configuration>